services:
  # Frontend (React + Vite Dev Server)
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://backend:3000
      - VITE_SOCKET_URL=http://localhost:3000

  # Backend (Express + Node)
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./server/.env

volumes:
  postgres_data:
